<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Hi, my name is Brian, and I am a Canadian based in London. I came to the UK to study, interested in how the state can utilise technology to benefit the lives of citizens. I was fortunate enough to put my academic interests into practice through working on a diverse range of digital transformation projects across government.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am passionate about advocating for the responsible use of technology and learning how user centred design can improve the delivery of government services. Currently enjoying my job as a Service Designer at the Ministry of Justice, I created this personal website so you can learn more about me.</p>
                </div>
            </div>
        </div>
    </section>
