<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>My academic interests have focused on how the state can utilise technology to benefit the lives of citizens. I’ve been fortunate enough to put these academic interests into practice by working on digital transformation projects across government.</p>
                </div>
                <div class="col-lg-4">
                    <p>I am passionate about advocating the responsible use of technology and applying user centred design to improve government services. I work best in cross-functional teams and agile working environments.</p>
                </div>
            </div>
        </div>
    </section>
